html,
body,
#app {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  background: #e9ebee;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.header {
  background: #4267b2;
  height: 42px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.post {
  margin-bottom: 20px;
}
